CT_Chest_Contrast_Enhanced      RCDATA "C:/teste_volume_render/delphi/colors/CT-Chest-Contrast-Enhanced.vvt"
CT_Chest_Vessels                RCDATA "C:/teste_volume_render/delphi/colors/CT-Chest-Vessels.vvt"
CT_Coronary_Arteries            RCDATA "C:/teste_volume_render/delphi/colors/CT-Coronary-Arteries.vvt"
CT_Coronary_Arteries_2          RCDATA "C:/teste_volume_render/delphi/colors/CT-Coronary-Arteries-2.vvt"
CT_Coronary_Arteries_3          RCDATA "C:/teste_volume_render/delphi/colors//CT-Coronary-Arteries-3.vvt"
CT_Cropped_Volume_Bone          RCDATA "C:/teste_volume_render/delphi/colors/CT-Cropped-Volume-Bone.vvt"
CT_Cropped_Volume_Soft_Tissue   RCDATA "C:/teste_volume_render/delphi/colors/CT-Cropped-Volume-Soft-Tissue.vvt"
CT_Liver_Vasculature            RCDATA "C:/teste_volume_render/delphi/colors//CT-Liver-Vasculature.vvt"
CT_MIP                          RCDATA "C:/teste_volume_render/delphi/colors//CT-MIP.vvt"
CT_Muscle                       RCDATA "C:/teste_volume_render/delphi/colors//CT-Muscle.vvt"
CT_AAA                          RCDATA "C:/teste_volume_render/delphi/colors//CT-AAA.vvt"
CT_AAA2                         RCDATA "C:/teste_volume_render/delphi/colors//CT-AAA2.vvt"
CT_BONE                         RCDATA "C:/teste_volume_render/delphi/colors//CT-Bone.vvt"
CT_Bone_1500_300                RCDATA "C:/teste_volume_render/delphi/colors//CT-Bone-1500-300.vvt"
CT_Cardiac                      RCDATA "C:/teste_volume_render/delphi/colors//CT-Cardiac.vvt"
CT_Cardiac2                     RCDATA "C:/teste_volume_render/delphi/colors//CT-Cardiac2.vvt"
CT_Cardiac3                     RCDATA "C:/teste_volume_render/delphi/colors//CT-Cardiac3.vvt"
 OSIRIX_HI_CONTRAST		RCDATA "C:/teste_volume_render/delphi/colors//OSIRIX_HI_CONTRAST.vvt"

